--
-- PostgreSQL database dump
--

\restrict KxrVxncIeEmkGcrbWTUI9UVEWa7IV2GcRzzgBzWjda0gdr9dfXtqJerYBdI2MEm

-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_cron; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_cron WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION pg_cron; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_cron IS 'Job scheduler for PostgreSQL';


--
-- Name: pageinspect; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pageinspect WITH SCHEMA public;


--
-- Name: EXTENSION pageinspect; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pageinspect IS 'inspect the contents of database pages at a low level';


--
-- Name: pg_stat_statements; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_stat_statements WITH SCHEMA public;


--
-- Name: EXTENSION pg_stat_statements; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_stat_statements IS 'track planning and execution statistics of all SQL statements executed';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: archive_carts(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.archive_carts() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO cart_archive
    SELECT *, NOW() FROM cart
    WHERE price > 10000 
    AND created_at < NOW() - INTERVAL '7 days'
    ON CONFLICT (id) DO NOTHING;  -- ╨┐╤А╨╛╨┐╤Г╤Б╨║╨░╨╡╨╝ ╨┤╤Г╨▒╨╗╨╕╨║╨░╤В╤Л
    RETURN NULL;
END;
$$;


ALTER FUNCTION public.archive_carts() OWNER TO admin;

--
-- Name: case_func(integer); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.case_func(product_id integer) RETURNS character varying
    LANGUAGE plpgsql
    AS $$
    begin
        case
            when product_id = 2 then return '╤В╨╡╨╗╨╡╤Д╨╛╨╜';
            when product_id = 1 then return '╨╜╨░╤Г╤И╨╜╨╕╨║╨╕';
            when product_id = 3 then return '╤З╨░╤Б╤Л';
            else return '';
        end case;
    end;
    $$;


ALTER FUNCTION public.case_func(product_id integer) OWNER TO admin;

--
-- Name: check_bulk_update(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.check_bulk_update() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    RAISE NOTICE 'Bulk update started at %', NOW();
    RETURN NULL;
END;
$$;


ALTER FUNCTION public.check_bulk_update() OWNER TO admin;

--
-- Name: check_insert_quota(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.check_insert_quota() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    RAISE NOTICE 'Bulk insert started at %', NOW();
    RETURN NULL;
END;
$$;


ALTER FUNCTION public.check_insert_quota() OWNER TO admin;

--
-- Name: cleanup_orphaned(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.cleanup_orphaned() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    DELETE FROM inventory
    WHERE elem_id NOT IN (SELECT id FROM product_element);
    RETURN NULL;
END;
$$;


ALTER FUNCTION public.cleanup_orphaned() OWNER TO admin;

--
-- Name: exc_func(integer); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.exc_func(amount integer) RETURNS integer
    LANGUAGE plpgsql
    AS $$
    declare
        const integer := 12;
    begin
        if amount = 0 then raise exception restrict_violation;
        else return const + amount;
        end if;
    exception
    when restrict_violation then
        return -1;
    end;
    $$;


ALTER FUNCTION public.exc_func(amount integer) OWNER TO admin;

--
-- Name: get_order_total(integer); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.get_order_total(order_id_attr integer) RETURNS integer
    LANGUAGE plpgsql
    AS $$
declare
    total integer := 0;
begin
    select sum(quantity * unit_price)
    into total
    from orderelem
    where order_id = order_id_attr;
    return coalesce(total, 0);
end;
$$;


ALTER FUNCTION public.get_order_total(order_id_attr integer) OWNER TO admin;

--
-- Name: if_proc(integer); Type: PROCEDURE; Schema: public; Owner: admin
--

CREATE PROCEDURE public.if_proc(IN price integer)
    LANGUAGE plpgsql
    AS $$
    begin
        if price < 1000 then
            raise notice '╨┤╤С╤И╨╡╨▓╨╛';
        else
            raise notice '╨┤╨╛╤А╨╛╨│╨╛';
        end if;
    end;
    $$;


ALTER PROCEDURE public.if_proc(IN price integer) OWNER TO admin;

--
-- Name: log_before_delete(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.log_before_delete() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO audit_log (action, table_name, data)
    VALUES ('BEFORE_DELETE', 'inventory', row_to_json(OLD));
    RETURN OLD;
END;
$$;


ALTER FUNCTION public.log_before_delete() OWNER TO admin;

--
-- Name: log_insert_batch(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.log_insert_batch() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO system_log (action, message)
    VALUES ('BATCH_INSERT', 'Product elements inserted at ' || NOW());
    RETURN NULL;
END;
$$;


ALTER FUNCTION public.log_insert_batch() OWNER TO admin;

--
-- Name: recalculate_cart(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.recalculate_cart() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    UPDATE cart
    SET price = (
        SELECT COALESCE(SUM(pe.price * ce.quantity), 0)
        FROM cartelem ce
        JOIN product_element pe ON ce.elem_id = pe.id
        WHERE ce.cart_id = OLD.cart_id
    )
    WHERE id = OLD.cart_id;
    RETURN OLD;
END;
$$;


ALTER FUNCTION public.recalculate_cart() OWNER TO admin;

--
-- Name: set_discount(integer, integer); Type: PROCEDURE; Schema: public; Owner: admin
--

CREATE PROCEDURE public.set_discount(IN order_item_id integer, IN new_discount integer)
    LANGUAGE plpgsql
    AS $$
BEGIN
    UPDATE orderelem
    SET discount = new_discount
    WHERE id = order_item_id;
    RAISE NOTICE '╨б╨║╨╕╨┤╨║╨░ ╨┤╨╗╤П ╤Н╨╗╨╡╨╝╨╡╨╜╤В╨░ % ╤Г╤Б╤В╨░╨╜╨╛╨▓╨╗╨╡╨╜╨░ ╨▓ %', order_item_id, new_discount;
END;
$$;


ALTER PROCEDURE public.set_discount(IN order_item_id integer, IN new_discount integer) OWNER TO admin;

--
-- Name: update_order_status(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.update_order_status() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.status = 'completed' THEN
        UPDATE orders SET status = 'processing' WHERE id = NEW.order_id;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_order_status() OWNER TO admin;

--
-- Name: update_order_total(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.update_order_total() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    item_total NUMERIC(10, 2);
BEGIN
    item_total := NEW.quantity * NEW.unit_price;
    
    UPDATE orders
    SET price = price + item_total
    WHERE id = NEW.order_id;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_order_total() OWNER TO admin;

--
-- Name: validate_new_product(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.validate_new_product() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.price < 0 THEN
        RAISE EXCEPTION 'Price cannot be negative';
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.validate_new_product() OWNER TO admin;

--
-- Name: validate_old_order(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.validate_old_order() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF OLD.status = 'delivered' AND NEW.status != 'delivered' THEN
        RAISE EXCEPTION 'Cannot modify delivered order';
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.validate_old_order() OWNER TO admin;

--
-- Name: while_proc(integer); Type: PROCEDURE; Schema: public; Owner: admin
--

CREATE PROCEDURE public.while_proc(IN amount integer)
    LANGUAGE plpgsql
    AS $$
    declare
        i integer := 0;
    begin
        while i < amount loop
            raise notice '%', i;
            i := i + 1;
            end loop;
    end;
    $$;


ALTER PROCEDURE public.while_proc(IN amount integer) OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.audit_log (
    id integer NOT NULL,
    action character varying(50) NOT NULL,
    table_name character varying(50) NOT NULL,
    data jsonb,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    user_id bigint,
    ip_address inet
);


ALTER TABLE public.audit_log OWNER TO admin;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_log_id_seq OWNER TO admin;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: cart; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cart (
    id bigint NOT NULL,
    user_id bigint,
    guest_token uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    price numeric(12,2) DEFAULT 0 NOT NULL,
    CONSTRAINT cart_price_check CHECK ((price >= (0)::numeric)),
    CONSTRAINT ch_login CHECK ((((user_id IS NULL) AND (guest_token IS NOT NULL)) OR ((user_id IS NOT NULL) AND (guest_token IS NULL))))
);


ALTER TABLE public.cart OWNER TO admin;

--
-- Name: cart_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cart_id_seq OWNER TO admin;

--
-- Name: cart_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.cart_id_seq OWNED BY public.cart.id;


--
-- Name: cart_archive; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cart_archive (
    id bigint DEFAULT nextval('public.cart_id_seq'::regclass) NOT NULL,
    user_id bigint,
    guest_token uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    price numeric(12,2) DEFAULT 0 NOT NULL,
    archived_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT cart_price_check CHECK ((price >= (0)::numeric)),
    CONSTRAINT ch_login CHECK ((((user_id IS NULL) AND (guest_token IS NOT NULL)) OR ((user_id IS NOT NULL) AND (guest_token IS NULL))))
);


ALTER TABLE public.cart_archive OWNER TO admin;

--
-- Name: cartelem; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cartelem (
    id bigint NOT NULL,
    cart_id bigint NOT NULL,
    elem_id bigint NOT NULL,
    quantity integer NOT NULL,
    CONSTRAINT cartelem_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE public.cartelem OWNER TO admin;

--
-- Name: cartelem_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.cartelem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cartelem_id_seq OWNER TO admin;

--
-- Name: cartelem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.cartelem_id_seq OWNED BY public.cartelem.id;


--
-- Name: category; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.category (
    id integer NOT NULL,
    name character varying(32) NOT NULL
);


ALTER TABLE public.category OWNER TO admin;

--
-- Name: delivery_point; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.delivery_point (
    id bigint NOT NULL,
    method character varying(64) NOT NULL,
    address character varying(512)
);


ALTER TABLE public.delivery_point OWNER TO admin;

--
-- Name: delivery_point_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.delivery_point_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.delivery_point_id_seq OWNER TO admin;

--
-- Name: delivery_point_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.delivery_point_id_seq OWNED BY public.delivery_point.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO admin;

--
-- Name: inventory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.inventory (
    elem_id integer NOT NULL,
    warehouse_id integer NOT NULL,
    quantity integer NOT NULL,
    CONSTRAINT inventory_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.inventory OWNER TO admin;

--
-- Name: orderelem; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.orderelem (
    id bigint NOT NULL,
    order_id bigint NOT NULL,
    elem_id bigint NOT NULL,
    quantity integer NOT NULL,
    unit_price integer NOT NULL,
    discount integer DEFAULT 0 NOT NULL,
    CONSTRAINT orderelem_discount_check CHECK (((discount)::numeric >= (0)::numeric)),
    CONSTRAINT orderelem_quantity_check CHECK ((quantity > 0)),
    CONSTRAINT orderelem_unit_price_check CHECK (((unit_price)::numeric >= (0)::numeric))
);


ALTER TABLE public.orderelem OWNER TO admin;

--
-- Name: orderelem_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.orderelem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.orderelem_id_seq OWNER TO admin;

--
-- Name: orderelem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.orderelem_id_seq OWNED BY public.orderelem.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.orders (
    id bigint NOT NULL,
    user_id bigint,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    status character varying(32) NOT NULL,
    delivery_point_id bigint,
    price bigint,
    metadata jsonb,
    tags text[],
    delivery_window tstzrange,
    notes text,
    search_vector tsvector
);


ALTER TABLE public.orders OWNER TO admin;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.orders_id_seq OWNER TO admin;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: payment; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.payment (
    id bigint NOT NULL,
    order_id bigint NOT NULL,
    status character varying(32) NOT NULL,
    transaction_id character varying(128),
    paid_at timestamp with time zone,
    method character varying(32),
    payment_details jsonb,
    fraud_flags text[],
    processing_time_ms integer
);


ALTER TABLE public.payment OWNER TO admin;

--
-- Name: payment_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.payment_id_seq OWNER TO admin;

--
-- Name: payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.payment_id_seq OWNED BY public.payment.id;


--
-- Name: payment_method; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.payment_method (
    method character varying(32) NOT NULL,
    provider character varying(64)
);


ALTER TABLE public.payment_method OWNER TO admin;

--
-- Name: product; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.product (
    id integer NOT NULL,
    category_id integer NOT NULL,
    name character varying(128),
    characteristics jsonb,
    description text,
    search_vector tsvector,
    keywords text
);


ALTER TABLE public.product OWNER TO admin;

--
-- Name: product_element; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.product_element (
    id integer NOT NULL,
    product_id integer NOT NULL,
    article_num integer NOT NULL,
    color character varying(32),
    price integer NOT NULL,
    attributes jsonb,
    stock_level integer,
    supplier_id integer,
    search_vector tsvector,
    CONSTRAINT product_element_price_check CHECK ((price >= 0))
);


ALTER TABLE public.product_element OWNER TO admin;

--
-- Name: product_element_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.product_element_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.product_element_id_seq OWNER TO admin;

--
-- Name: product_element_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.product_element_id_seq OWNED BY public.product_element.id;


--
-- Name: product_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.product_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.product_id_seq OWNER TO admin;

--
-- Name: product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.product_id_seq OWNED BY public.product.id;


--
-- Name: role; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.role (
    id integer NOT NULL,
    name character varying(32) NOT NULL
);


ALTER TABLE public.role OWNER TO admin;

--
-- Name: system_log; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.system_log (
    id integer NOT NULL,
    action character varying(100) NOT NULL,
    message text,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.system_log OWNER TO admin;

--
-- Name: system_log_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.system_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.system_log_id_seq OWNER TO admin;

--
-- Name: system_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.system_log_id_seq OWNED BY public.system_log.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(32) NOT NULL,
    login character varying(64),
    password character varying(64) NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    role_id integer
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: warehouse; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.warehouse (
    id integer NOT NULL,
    name character varying(64) NOT NULL,
    address character varying(256) NOT NULL
);


ALTER TABLE public.warehouse OWNER TO admin;

--
-- Name: warehouse_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.warehouse_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.warehouse_id_seq OWNER TO admin;

--
-- Name: warehouse_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.warehouse_id_seq OWNED BY public.warehouse.id;


--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Name: cart id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cart ALTER COLUMN id SET DEFAULT nextval('public.cart_id_seq'::regclass);


--
-- Name: cartelem id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cartelem ALTER COLUMN id SET DEFAULT nextval('public.cartelem_id_seq'::regclass);


--
-- Name: delivery_point id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.delivery_point ALTER COLUMN id SET DEFAULT nextval('public.delivery_point_id_seq'::regclass);


--
-- Name: orderelem id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orderelem ALTER COLUMN id SET DEFAULT nextval('public.orderelem_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: payment id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payment ALTER COLUMN id SET DEFAULT nextval('public.payment_id_seq'::regclass);


--
-- Name: product id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product ALTER COLUMN id SET DEFAULT nextval('public.product_id_seq'::regclass);


--
-- Name: product_element id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product_element ALTER COLUMN id SET DEFAULT nextval('public.product_element_id_seq'::regclass);


--
-- Name: system_log id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.system_log ALTER COLUMN id SET DEFAULT nextval('public.system_log_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: warehouse id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.warehouse ALTER COLUMN id SET DEFAULT nextval('public.warehouse_id_seq'::regclass);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: cart_archive cart_archive_guest_token_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cart_archive
    ADD CONSTRAINT cart_archive_guest_token_key UNIQUE (guest_token);


--
-- Name: cart_archive cart_archive_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cart_archive
    ADD CONSTRAINT cart_archive_pkey PRIMARY KEY (id);


--
-- Name: cart_archive cart_archive_user_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cart_archive
    ADD CONSTRAINT cart_archive_user_id_key UNIQUE (user_id);


--
-- Name: delivery_point delivery_point_method_address_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.delivery_point
    ADD CONSTRAINT delivery_point_method_address_key UNIQUE (method, address);


--
-- Name: delivery_point delivery_point_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.delivery_point
    ADD CONSTRAINT delivery_point_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: payment_method payment_method_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payment_method
    ADD CONSTRAINT payment_method_pkey PRIMARY KEY (method);


--
-- Name: cartelem pk_cart_elem_id; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cartelem
    ADD CONSTRAINT pk_cart_elem_id PRIMARY KEY (id);


--
-- Name: cart pk_cart_id; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cart
    ADD CONSTRAINT pk_cart_id PRIMARY KEY (id);


--
-- Name: category pk_category_id; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT pk_category_id PRIMARY KEY (id);


--
-- Name: users pk_id; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT pk_id PRIMARY KEY (id);


--
-- Name: inventory pk_inventory; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT pk_inventory PRIMARY KEY (elem_id, warehouse_id);


--
-- Name: orderelem pk_order_elem_id; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orderelem
    ADD CONSTRAINT pk_order_elem_id PRIMARY KEY (id);


--
-- Name: orders pk_orders_id; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT pk_orders_id PRIMARY KEY (id);


--
-- Name: payment pk_payment_id; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT pk_payment_id PRIMARY KEY (id);


--
-- Name: product_element pk_product_element_id; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product_element
    ADD CONSTRAINT pk_product_element_id PRIMARY KEY (id);


--
-- Name: product pk_product_id; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT pk_product_id PRIMARY KEY (id);


--
-- Name: role pk_role_id; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT pk_role_id PRIMARY KEY (id);


--
-- Name: warehouse pk_warehouse_id; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.warehouse
    ADD CONSTRAINT pk_warehouse_id PRIMARY KEY (id);


--
-- Name: system_log system_log_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.system_log
    ADD CONSTRAINT system_log_pkey PRIMARY KEY (id);


--
-- Name: product_element unique_article; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product_element
    ADD CONSTRAINT unique_article UNIQUE (product_id, article_num);


--
-- Name: cart unique_cart_guest; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cart
    ADD CONSTRAINT unique_cart_guest UNIQUE (guest_token);


--
-- Name: cart unique_cart_user_active; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cart
    ADD CONSTRAINT unique_cart_user_active UNIQUE (user_id);


--
-- Name: category unique_category_name; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT unique_category_name UNIQUE (name);


--
-- Name: orderelem unique_order_item; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orderelem
    ADD CONSTRAINT unique_order_item UNIQUE (order_id, elem_id);


--
-- Name: payment unique_payment_order; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT unique_payment_order UNIQUE (order_id, transaction_id);


--
-- Name: cartelem uq_cart_item; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cartelem
    ADD CONSTRAINT uq_cart_item UNIQUE (cart_id, elem_id);


--
-- Name: users users_login_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_login_key UNIQUE (login);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_audit_log_data_gin; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_audit_log_data_gin ON public.audit_log USING gin (data);


--
-- Name: idx_audit_log_ip_btree; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_audit_log_ip_btree ON public.audit_log USING btree (ip_address);


--
-- Name: idx_audit_log_ip_hash; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_audit_log_ip_hash ON public.audit_log USING hash (ip_address);


--
-- Name: idx_audit_log_table_name_btree; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_audit_log_table_name_btree ON public.audit_log USING btree (table_name);


--
-- Name: idx_orders_created_at_hash; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_orders_created_at_hash ON public.orders USING hash (created_at);


--
-- Name: idx_orders_user_created_composite; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_orders_user_created_composite ON public.orders USING btree (user_id, created_at);


--
-- Name: idx_payment_transaction_btree; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_payment_transaction_btree ON public.payment USING btree (transaction_id);


--
-- Name: cartelem trg_after_delete_row; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_after_delete_row AFTER DELETE ON public.cartelem FOR EACH ROW EXECUTE FUNCTION public.recalculate_cart();


--
-- Name: orderelem trg_after_insert_row; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_after_insert_row AFTER INSERT ON public.orderelem FOR EACH ROW EXECUTE FUNCTION public.update_order_total();


--
-- Name: product_element trg_after_insert_statement; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_after_insert_statement AFTER INSERT ON public.product_element FOR EACH STATEMENT EXECUTE FUNCTION public.log_insert_batch();


--
-- Name: payment trg_after_update_row; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_after_update_row AFTER UPDATE ON public.payment FOR EACH ROW WHEN (((old.status)::text <> (new.status)::text)) EXECUTE FUNCTION public.update_order_status();


--
-- Name: cart trg_after_update_statement; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_after_update_statement AFTER UPDATE ON public.cart FOR EACH STATEMENT EXECUTE FUNCTION public.archive_carts();


--
-- Name: inventory trg_before_delete_row; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_before_delete_row BEFORE DELETE ON public.inventory FOR EACH ROW EXECUTE FUNCTION public.log_before_delete();


--
-- Name: users trg_before_insert_statement; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_before_insert_statement BEFORE INSERT ON public.users FOR EACH STATEMENT EXECUTE FUNCTION public.check_insert_quota();


--
-- Name: product trg_before_update_statement; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_before_update_statement BEFORE UPDATE ON public.product FOR EACH STATEMENT EXECUTE FUNCTION public.check_bulk_update();


--
-- Name: product_element trg_cleanup_after_product_delete; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_cleanup_after_product_delete AFTER DELETE ON public.product_element FOR EACH STATEMENT EXECUTE FUNCTION public.cleanup_orphaned();


--
-- Name: product_element trg_new_before_insert_row; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_new_before_insert_row BEFORE INSERT ON public.product_element FOR EACH ROW EXECUTE FUNCTION public.validate_new_product();


--
-- Name: orders trg_old_before_update_row; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_old_before_update_row BEFORE UPDATE ON public.orders FOR EACH ROW EXECUTE FUNCTION public.validate_old_order();


--
-- Name: cartelem fk_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cartelem
    ADD CONSTRAINT fk_cart_id FOREIGN KEY (cart_id) REFERENCES public.cart(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product fk_category_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT fk_category_id FOREIGN KEY (category_id) REFERENCES public.category(id);


--
-- Name: cartelem fk_elem_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cartelem
    ADD CONSTRAINT fk_elem_id FOREIGN KEY (elem_id) REFERENCES public.product_element(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inventory fk_elem_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT fk_elem_id FOREIGN KEY (elem_id) REFERENCES public.product_element(id);


--
-- Name: orderelem fk_elem_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orderelem
    ADD CONSTRAINT fk_elem_id FOREIGN KEY (elem_id) REFERENCES public.product_element(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orderelem fk_order_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orderelem
    ADD CONSTRAINT fk_order_id FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment fk_order_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT fk_order_id FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment fk_payment_method; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT fk_payment_method FOREIGN KEY (method) REFERENCES public.payment_method(method);


--
-- Name: product_element fk_product_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product_element
    ADD CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES public.product(id);


--
-- Name: users fk_role_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_role_id FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- Name: cart fk_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cart
    ADD CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders fk_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inventory fk_warehouse_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT fk_warehouse_id FOREIGN KEY (warehouse_id) REFERENCES public.warehouse(id);


--
-- Name: orders orders_delivery_point_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_delivery_point_id_fkey FOREIGN KEY (delivery_point_id) REFERENCES public.delivery_point(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO admin_test;
GRANT USAGE ON SCHEMA public TO app_readonly;
GRANT USAGE ON SCHEMA public TO app_order_manager;
GRANT USAGE ON SCHEMA public TO app_inventory_manager;


--
-- Name: TABLE audit_log; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.audit_log TO admin_test;
GRANT SELECT ON TABLE public.audit_log TO app_readonly;
GRANT SELECT ON TABLE public.audit_log TO app_order_manager;
GRANT SELECT ON TABLE public.audit_log TO app_inventory_manager;


--
-- Name: TABLE cart; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.cart TO admin_test;
GRANT SELECT ON TABLE public.cart TO app_readonly;
GRANT SELECT,UPDATE ON TABLE public.cart TO app_order_manager;
GRANT SELECT ON TABLE public.cart TO app_inventory_manager;


--
-- Name: TABLE cart_archive; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.cart_archive TO admin_test;
GRANT SELECT ON TABLE public.cart_archive TO app_readonly;
GRANT SELECT ON TABLE public.cart_archive TO app_order_manager;
GRANT SELECT ON TABLE public.cart_archive TO app_inventory_manager;


--
-- Name: TABLE cartelem; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.cartelem TO admin_test;
GRANT SELECT ON TABLE public.cartelem TO app_readonly;
GRANT SELECT,UPDATE ON TABLE public.cartelem TO app_order_manager;
GRANT SELECT ON TABLE public.cartelem TO app_inventory_manager;


--
-- Name: TABLE category; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.category TO admin_test;
GRANT SELECT ON TABLE public.category TO app_readonly;
GRANT SELECT ON TABLE public.category TO app_order_manager;
GRANT SELECT ON TABLE public.category TO app_inventory_manager;


--
-- Name: TABLE delivery_point; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.delivery_point TO admin_test;
GRANT SELECT ON TABLE public.delivery_point TO app_readonly;
GRANT SELECT ON TABLE public.delivery_point TO app_order_manager;
GRANT SELECT ON TABLE public.delivery_point TO app_inventory_manager;


--
-- Name: TABLE flyway_schema_history; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.flyway_schema_history TO admin_test;
GRANT SELECT ON TABLE public.flyway_schema_history TO app_readonly;
GRANT SELECT ON TABLE public.flyway_schema_history TO app_order_manager;
GRANT SELECT ON TABLE public.flyway_schema_history TO app_inventory_manager;


--
-- Name: TABLE inventory; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.inventory TO admin_test;
GRANT SELECT ON TABLE public.inventory TO app_readonly;
GRANT SELECT ON TABLE public.inventory TO app_order_manager;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.inventory TO app_inventory_manager;


--
-- Name: TABLE orderelem; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.orderelem TO admin_test;
GRANT SELECT ON TABLE public.orderelem TO app_readonly;
GRANT SELECT,INSERT,UPDATE ON TABLE public.orderelem TO app_order_manager;
GRANT SELECT ON TABLE public.orderelem TO app_inventory_manager;


--
-- Name: TABLE orders; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.orders TO admin_test;
GRANT SELECT ON TABLE public.orders TO app_readonly;
GRANT SELECT,INSERT,UPDATE ON TABLE public.orders TO app_order_manager;
GRANT SELECT ON TABLE public.orders TO app_inventory_manager;


--
-- Name: TABLE payment; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.payment TO admin_test;
GRANT SELECT ON TABLE public.payment TO app_readonly;
GRANT SELECT,UPDATE ON TABLE public.payment TO app_order_manager;
GRANT SELECT ON TABLE public.payment TO app_inventory_manager;


--
-- Name: TABLE payment_method; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.payment_method TO admin_test;
GRANT SELECT ON TABLE public.payment_method TO app_readonly;
GRANT SELECT ON TABLE public.payment_method TO app_order_manager;
GRANT SELECT ON TABLE public.payment_method TO app_inventory_manager;


--
-- Name: TABLE product; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.product TO admin_test;
GRANT SELECT ON TABLE public.product TO app_readonly;
GRANT SELECT ON TABLE public.product TO app_order_manager;
GRANT SELECT ON TABLE public.product TO app_inventory_manager;


--
-- Name: TABLE product_element; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.product_element TO admin_test;
GRANT SELECT ON TABLE public.product_element TO app_readonly;
GRANT SELECT ON TABLE public.product_element TO app_order_manager;
GRANT SELECT,UPDATE ON TABLE public.product_element TO app_inventory_manager;


--
-- Name: TABLE role; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.role TO admin_test;
GRANT SELECT ON TABLE public.role TO app_readonly;
GRANT SELECT ON TABLE public.role TO app_order_manager;
GRANT SELECT ON TABLE public.role TO app_inventory_manager;


--
-- Name: TABLE system_log; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.system_log TO admin_test;
GRANT SELECT ON TABLE public.system_log TO app_readonly;
GRANT SELECT ON TABLE public.system_log TO app_order_manager;
GRANT SELECT ON TABLE public.system_log TO app_inventory_manager;


--
-- Name: TABLE users; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.users TO admin_test;
GRANT SELECT ON TABLE public.users TO app_readonly;
GRANT SELECT ON TABLE public.users TO app_order_manager;
GRANT SELECT ON TABLE public.users TO app_inventory_manager;


--
-- Name: TABLE warehouse; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.warehouse TO admin_test;
GRANT SELECT ON TABLE public.warehouse TO app_readonly;
GRANT SELECT ON TABLE public.warehouse TO app_order_manager;
GRANT SELECT ON TABLE public.warehouse TO app_inventory_manager;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE admin IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO admin_test;


--
-- PostgreSQL database dump complete
--

\unrestrict KxrVxncIeEmkGcrbWTUI9UVEWa7IV2GcRzzgBzWjda0gdr9dfXtqJerYBdI2MEm

