--
-- PostgreSQL database dump
--

\restrict 4IROCc6J0PHsR6egq47GtRwbbkh2SzM5ddb64LSKr7CrrK1JbFJSF5PzlwBo5ju

-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.warehouse DROP CONSTRAINT IF EXISTS pk_warehouse_id;
ALTER TABLE IF EXISTS public.warehouse ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.warehouse_id_seq;
DROP TABLE IF EXISTS public.warehouse;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: warehouse; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.warehouse (
    id integer NOT NULL,
    name character varying(64) NOT NULL,
    address character varying(256) NOT NULL
);


ALTER TABLE public.warehouse OWNER TO admin;

--
-- Name: warehouse_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.warehouse_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.warehouse_id_seq OWNER TO admin;

--
-- Name: warehouse_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.warehouse_id_seq OWNED BY public.warehouse.id;


--
-- Name: warehouse id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.warehouse ALTER COLUMN id SET DEFAULT nextval('public.warehouse_id_seq'::regclass);


--
-- Data for Name: warehouse; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.warehouse (id, name, address) FROM stdin;
1	╨┐╤Г╨╜╨║╤В 1	╤Г╨╗. ╨Р ╨┤.1
2	╨б╨║╨╗╨░╨┤ тДЦ2	╨Р╨┤╤А╨╡╤Б ╤Б╨║╨╗╨░╨┤╨░ 2
3	╨б╨║╨╗╨░╨┤ тДЦ3	╨Р╨┤╤А╨╡╤Б ╤Б╨║╨╗╨░╨┤╨░ 3
\.


--
-- Name: warehouse_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.warehouse_id_seq', 2, true);


--
-- Name: warehouse pk_warehouse_id; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.warehouse
    ADD CONSTRAINT pk_warehouse_id PRIMARY KEY (id);


--
-- Name: TABLE warehouse; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.warehouse TO admin_test;
GRANT SELECT ON TABLE public.warehouse TO app_readonly;
GRANT SELECT ON TABLE public.warehouse TO app_order_manager;
GRANT SELECT ON TABLE public.warehouse TO app_inventory_manager;


--
-- PostgreSQL database dump complete
--

\unrestrict 4IROCc6J0PHsR6egq47GtRwbbkh2SzM5ddb64LSKr7CrrK1JbFJSF5PzlwBo5ju

